

.head {
  font-size: 35px;
  padding-left: 5px;
  text-align: left;
  border-bottom: 2px solid grey;
}

.main {
  font-size: 20px;
  padding-left: 5px;
}

.link {
  font-size: 15px;
  text-decoration: inherit;
  padding-left: 10px;
}
